@import '_nav';
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
html{
	max-width: $max;
	margin: 0 auto;
}
body{
	box-shadow: 0 0 3em 3em $one;
}
html,body {
	font-family:'Lato';
	scroll-behavior: smooth;
	font-size: 16px;
	@media(min-width: $xLarge){
		font-size: 18px;
	}
}
h1{
	font-size: 2.5em;
	color: #128273;
	font-family: "Lora";
}
img{
 	display: block;
 	max-width: 100%;
    height: auto;
 }
header{
	width: 100%;
	grid-area: header;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.logo-box{
	position: relative;
	display: flex;
	justify-content: center;
	flex-basis: 150px;
	min-height: 80px;
	img{
		position: absolute;
    	margin: auto;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
	}
}
.title-box{
	text-align: center;
	padding: 0 40px 0 40px;
}