.btn{
	width: 2em;
	height: 2em;
	background: transparent;
	border: none;
	z-index: 999;
}
.btn-menu{
	@extend .btn;
	position: fixed;
	right: 1em;
	top: 1em;
}
.menu-span{
	position: absolute;
	display: block;
	height: .25em;
	width: 100%;
	border-radius: .2em;
	opacity: 1;
	left: 0;
	background: #30e3ca;
	&:nth-child(1){
		top: 0;
	}
	&:nth-child(2){
		// top: 10px;
		top: .67em
	}
	&:nth-child(3){
		top: 1.3em;
	}
}

.menu-span-open{
	&:nth-child(1){
		top:12px;
		transform: rotate(45deg);
		transition: 1s;
	}
	&:nth-child(2){
		opacity: 0;
		transition: width 1s;
	}
	&:nth-child(3){
		top:12px;
		transform: rotate(-45deg);
		transition: 1s;
	}
}
.menu{
	list-style: none;
	padding: 50px 0 10px 0;
	margin: 0;
	text-align:center;
}

.menu-item{
	text-transform: uppercase;
	padding: .5em 0 1.5em 0;
}