$large: 1025px;
$small: 600px;

$white: #fff;
$light-grey: #f2f2f2;
$grey: #656a6c;
// $light-green: #afca05;
$light-green: #5bc016;
$green: #3aaf8d;
$blue: #1a4a8b;
$light-blue: #1eeee6;
$yellow: #fff134;
$red: #f9002c;
// $orange: #ff6600;
$orange: #ff6a19;

$one: #f5f5f5;
$two: #2f89fc;
$three: #30e3ca;
$four: #40514e;