@import '_reset';
@import '_variables';
@import '_nav';
@import '_mixins';
@import '_base';

h2{
	color: $two;
	// text-transform: uppercase;
	// letter-spacing: 0.15em;
	// text-shadow: -1px 0 $grey, 0 1px $grey, 1px 0 $grey, 0 -1px $grey;
}

h3{
	color: $three;
}

.site{
	width: 100%;
	min-height: 100vh;
	height: auto;
	@media (min-width: $small) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto 1fr 1fr auto;
		grid-template-areas: 	"header header"
								"article article"
								"sofa corner"
								"sofa3 bed"
								"footer footer";

	}
	@media (min-width: $large) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto auto auto 1fr 1fr;
		grid-template-areas: 	"header header header"
								"menu menu menu"
								"article article footer"
								"sofa corner footer"
								"sofa3 bed footer";

	}
}

article{
	background: $one;
	grid-area: article;
	clear: both;
	p{
		color:$four;
		letter-spacing: 0.1em;
	}
}
.about{
	padding: 1em 1.5em 1em 1.5em;
	p{
		text-align: justify;
	}
	@media (min-width: $large){
		padding: 1em 2em 1em 2em;
		p{
			text-align: left;
		}
	}
}

.furniture{
	min-height: 150px;
	height: 100%;
	text-align: center;
	border: 1px solid $orange;
	display:flex;
	align-items: center;
    justify-content: center;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    	height: 100px;
    	min-height: 200px;
	}
}
.sofa{
	@include furniture-background('../images/sof.jpg');
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    	@include furniture-background('../images/sofie.jpg');
	}
	grid-area: sofa;
}
.corner{
	@include furniture-background('../images/naroznik.jpg');
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    	@include furniture-background('../images/naroznikie.jpg');
	}
	grid-area: corner;
}
.sofa3{
	@include furniture-background('../images/sof3d.jpg');
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    	@include furniture-background('../images/sof3die.jpg');
	}
	grid-area: sofa3;
}
.bed{
	@include furniture-background('../images/lozko.jpg');
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    	@include furniture-background('../images/lozkoie.jpg');
	}
	grid-area: bed;
}

footer{
	padding: 1em;
	// background: $light-grey;
	background: $four;
	grid-area: footer;
	p{
		color: white;
	}
}
.contact{
	width: 100%;
	padding-bottom: 10px;
}
.contact-link{
	@extend .link;
	color: $grey;
}

#map{
	width: 100%;
	height: 15em;
	max-height: 300px;
}
