@import '_reset';
@import '_variables';
@import '_nav';
@import '_base';

section{
    display: flex;
    padding: 1em;
    div{
        flex: 50%;
        padding: 0 1em;
        ul{
            list-style: none;
        }
    }
}