@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
html, body {
  font-family: "Lato" sans-serif;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }
  a:active, a:hover {
    outline: 0; }

p {
  margin: 0; }

.btn, .btn-menu {
  width: 2em;
  height: 2em;
  background: transparent;
  border: none;
  z-index: 999; }

.btn-menu {
  position: fixed;
  right: 1em;
  top: 1em; }

.menu-span {
  position: absolute;
  display: block;
  height: .25em;
  width: 100%;
  border-radius: .2em;
  opacity: 1;
  left: 0;
  background: #30e3ca; }
  .menu-span:nth-child(1) {
    top: 0; }
  .menu-span:nth-child(2) {
    top: 0.67em; }
  .menu-span:nth-child(3) {
    top: 1.3em; }

.menu-span-open:nth-child(1) {
  top: 12px;
  transform: rotate(45deg);
  transition: 1s; }
.menu-span-open:nth-child(2) {
  opacity: 0;
  transition: width 1s; }
.menu-span-open:nth-child(3) {
  top: 12px;
  transform: rotate(-45deg);
  transition: 1s; }

.menu, .menu-mobile, .menu-landscape {
  list-style: none;
  padding: 50px 0 10px 0;
  margin: 0;
  text-align: center; }

.menu-item {
  text-transform: uppercase;
  padding: .5em 0 1.5em 0; }

.btn, .btn-menu {
  width: 2em;
  height: 2em;
  background: transparent;
  border: none;
  z-index: 999; }

.btn-menu {
  position: fixed;
  right: 1em;
  top: 1em; }

.menu-span {
  position: absolute;
  display: block;
  height: .25em;
  width: 100%;
  border-radius: .2em;
  opacity: 1;
  left: 0;
  background: #30e3ca; }
  .menu-span:nth-child(1) {
    top: 0; }
  .menu-span:nth-child(2) {
    top: 0.67em; }
  .menu-span:nth-child(3) {
    top: 1.3em; }

.menu-span-open:nth-child(1) {
  top: 12px;
  transform: rotate(45deg);
  transition: 1s; }
.menu-span-open:nth-child(2) {
  opacity: 0;
  transition: width 1s; }
.menu-span-open:nth-child(3) {
  top: 12px;
  transform: rotate(-45deg);
  transition: 1s; }

.menu, .menu-mobile, .menu-landscape {
  list-style: none;
  padding: 50px 0 10px 0;
  margin: 0;
  text-align: center; }

.menu-item {
  text-transform: uppercase;
  padding: .5em 0 1.5em 0; }

html, body {
  font-family: 'Lato';
  scroll-behavior: smooth; }
  @media (min-width: 1200px) {
    html, body {
      font-size: 18px; } }

h1 {
  font-size: 2.5em;
  color: #30e3ca;
  font-family: "Lora"; }

@media (min-width: 992px) {
  .btn-menu {
    display: none; } }

.menu-mobile {
  position: fixed;
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  z-index: 9; }

.menu-open {
  visibility: visible;
  opacity: 1;
  background: #2f89fc;
  height: 100vh;
  transition-property: height;
  transition-duration: .5s;
  transition-timing-function: linear; }

.menu-landscape {
  display: none; }
  @media (min-width: 992px) {
    .menu-landscape {
      grid-area: menu;
      height: auto;
      display: flex;
      justify-content: space-around;
      padding: .5em 0 1em 0;
      margin: 0; } }

@media (min-width: 992px) {
  .menu-item {
    padding: 0.5em 0 0 0; } }

.menu-link {
  font-weight: bolder;
  color: #f5f5f5;
  border-bottom: transparent solid .1em; }
  .menu-link:hover, .menu-link:focus {
    border-bottom: #30e3ca solid 0.1em; }
  @media (min-width: 992px) {
    .menu-link {
      color: #40514e; } }

img {
  display: block;
  max-width: 100%;
  height: auto; }

header {
  width: 100%;
  grid-area: header;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.logo-box {
  position: relative;
  display: flex;
  justify-content: center;
  flex-basis: 150px;
  min-height: 80px; }
  .logo-box img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.title-box {
  text-align: center;
  padding: 0 40px 0 40px; }

h2 {
  color: #2f89fc; }

h3 {
  color: #30e3ca; }

.site {
  width: 100%;
  min-height: 100vh;
  height: auto; }
  @media (min-width: 576px) {
    .site {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto 1fr 1fr auto;
      grid-template-areas: "header header" "article article" "section section" "section section" "footer footer"; } }
  @media (min-width: 992px) {
    .site {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto auto auto 1fr 1fr;
      grid-template-areas: "header header" "menu menu" "article footer" "section footer" "section footer"; } }

article {
  grid-area: article;
  background: #f5f5f5;
  padding: 1em 1.5em 1em 1.5em; }
  article p {
    color: #40514e;
    text-align: justify; }
  @media (min-width: 992px) {
    article {
      padding: 1em 2em 1em 2em; }
      article p {
        text-align: left; } }

section {
  grid-area: section;
  padding: 1em;
  min-height: 16em;
  position: relative; }
  @media (min-width: 576px) {
    section {
      min-height: 18em; } }
  @media (min-width: 768px) {
    section {
      min-height: 20em; } }
  section img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 90%;
    transform: translate(-50%, -50%);
    box-shadow: 1em 1em 1em 0 rgba(64, 81, 78, 0.75);
    margin: auto; }

footer {
  grid-area: footer;
  background: #40514e;
  padding: 1em; }
  footer p {
    color: white; }
  footer .contact-header {
    font-size: 1.5em;
    font-family: "Lora";
    color: #30e3ca;
    padding-bottom: .5em; }
  footer .contact-link {
    display: inline-block;
    vertical-align: middle;
    color: white;
    padding: .5em 0; }
    footer .contact-link span {
      display: inline;
      vertical-align: middle;
      padding-right: .4em; }
  footer .map-container {
    padding-top: .5em;
    width: 100%;
    height: 15em;
    max-height: 19em; }

/*# sourceMappingURL=main.css.map */
